input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
    border: 1px solid #e74c3c !important; 
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
